* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}
.global-msg {
  background: blue;
  line-height: 32px;
}

.global-content {
  display: flex;
  justify-content: space-between;
  color: white;
}

.socials {
  color: white;
}
/* nav bar section */
.nav-bar {
  background: rgb(126, 96, 96);
}
.nav-container {
  display: flex;
  justify-content: space-between;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  margin-left: 16px;
}
.menu ul li:hover {
  cursor: pointer;
}
/* hero section */
.hero {
  min-height: 80vh;
  background-image: url(image/travel.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  /* color: white; */
  width: 450px;
  background: rgba(255, 255, 255, 0.522);
  padding: 30px 20px;
  border-radius: 20px;
  text-align: center;
}
/* post section */
.posts {
  display: flex;
}

.posts-content {
  margin-top: 30px;
  width: 66%;
  margin-right: 60px;
}
.side-links {
  width: 34%;
  margin-top: 50px;
}
.country {
  background: skyblue;
  padding: 40px;
  border-radius: 5px;
}

.date {
  margin-top: 80px;
  background: skyblue;
  padding: 40px;
  border-radius: 5px;
}
article {
  display: flex;
  margin-top: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}
.art-image {
  width: 400px;

  margin-right: 20px;
}

.titile {
  font-size: 22px;
  font-weight: bold;
}

/* card section */
.card-section {
  margin-top: 40px;
  background: skyblue;
  padding: 20px 0;
}
.card-list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.card {
  margin-top: 25px;
  width: 300px;
  min-height: 300px;
  background: white;
  box-shadow: -5px 5px 10px 5px black;
}
.card img {
  border: 5px 5px 0 0;
}

.btn-card {
  background: green;
  font-size: 15px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

/* subscription section */
.subscription {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  gap: 10px;
}

.btn {
  align-self: flex-end;
}

footer {
  background: black;
  padding: 10px;
  color: white;
  text-align: center;
  min-height: 30px;
  margin-top: 32px;
}

/* min-width,max-width// <=, >= */
/* media query  break points 768px, 1224px*/
/* laptop screen */
/* mobile screen */
/* laptop */

@media (max-width: 1224px) {
  .posts {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
  }

  .posts-content {
    margin-top: 30px;
    width: 66%;
    margin-right: 60px;
  }
  .side-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .country {
    width: 45%;
  }
  .date {
    width: 45%;
  }
  .date {
    margin-top: 0;
  }
  .card {
    /* width 450px */
    padding: 10px;
    min-height: 300px;
    background: white;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: -5px 5px 10px 5px;
  }
  .card-list {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 45%;
  }
  /* for mobile devices */
  /* max width */
  @media (0<=width<=768px) {
    .global-msg {
      display: none;
    }

    article {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-radius: 5px;
      box-shadow: -5px 5px 10px 5px gray;
    }

    .titile {
      margin: 1rem 0;
    }
    article p {
      margin: 1rem 0;
    }
    article button {
      width: 100%;
    }
    .side-links {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .country,
    .date {
      width: 100%;
      text-align: center;
    }
    .side-links ul {
      list-style: none;
    }
    .side-links ul li {
      text-decoration: underline;
      cursor: pointer;
      color: red;
    }
    .country {
      margin-bottom: 20px;
    }
    .art-image {
      width: 400px;
      height: 250px;
      margin-right: 20px;
    }

    .btn-card {
      width: 100%;
    }
    form {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    form,
    div,
    input {
      width: 90%;
    }

    form div input {
      width: 100%;
    }
    .btn {
      align-self: center;
    }
  }
}
